/* =Lightweight Responsiveness
 *
 * This file is called from the /inc/init-functions.php file
 * specifically for core Volatyl responsive CSS. Whether or
 * not this stylesheet is used is determined by the Enable Responsive
 * CSS option in the Customizer  under the Volatyl Design Settings section.
 *
 * To alter this CSS in a child theme, simply write new responsive
 * CSS in your child theme's style.css file. To completely disable
 * this responsive CSS to use your own, disable the responsive CSS
 * and then start from scratch in your child theme's style.css file.
-------------------------------------------------------------- */

@media screen and (max-width: 768px) {

	/* =Responsive Menus
	-------------------------------------------------------------- */

	#menu-area-standard .main,
	#menu-area-footer .main,
	#container #standard-menu-wrap,
	#container #footer-menu-wrap {
		border-width: 1px 0;
		border-style: solid;
		border-color: #e5e5e5;
	}
	.header-menu-toggle,
	.standard-menu-toggle,
	.footer-menu-toggle {
		text-align: center;
	}
	.header-menu-toggle,
	.standard-menu-toggle,
	.footer-menu-toggle,
	.header-navigation.toggled .nav-menu,
	.standard-navigation.toggled .nav-menu,
	.footer-navigation.toggled .nav-menu,
	.header-navigation .menu ul,
	.secondary-navigation .menu ul,
	.header-navigation .menu a,
	.secondary-navigation .menu a {
		display: block;
	}
	.header-navigation,
	.secondary-navigation {
		padding: 0;
	}
	.header-navigation,
	.secondary-navigation,
	.header-navigation .menu li ul,
	.secondary-navigation .menu li ul {
		position: static;
		text-align: left;
		padding: 0;
	}
	.header-navigation ul,
	.secondary-navigation ul {
		display: none;
	}
	.header-navigation.toggled .nav-menu {
		background: #fff;
	}
	.header-navigation .menu li,
	.secondary-navigation .menu li {
		display: block;
		padding: 0;
		margin-right: 0;
	}
	.header-navigation .menu li ul li,
	.secondary-navigation .menu li ul li {
		padding: 0;
	}
	.header-navigation .menu a,
	.secondary-navigation .menu a,
	.header-navigation .menu li ul a,
	.secondary-navigation .menu li ul li a {
		padding: .66667em 0;
		width: 100%;
	}
	.header-navigation .menu li ul a,
	.secondary-navigation .menu li ul li a {
		background: none;
		padding-left: .66667em;
	}

	/* all other styles */

	.three-col #content,
	.three-col #sidebars {
		padding: 0;
	}
	.vol-landing #main-content .main,
	.vol-landing #container #main-content {
		margin: 0 auto;
	}
	.product-box {
		width: 49.5%;
	}
	#main-content #content,
	#main-content #sidebars,
	.scs #wrap,
	.nav-previous,
	.nav-next {
		float: none;
		width: 100%;
	}
	.nav-previous {
		padding-right: 0;
	}
	.nav-next,
	.paging-navigation .nav-next,
	.comment-navigation .nav-next,
	.image-navigation .nav-next {
		padding-left: 0;
		text-align: left;
	}
	.site-header {
		text-align: center;
	}
	.site-description {
		margin-bottom: .66667em;
	}
	#content .pagination {
		float: none;
	}
	.two-footer-col .footer-widget,
	.three-footer-col .footer-widget {
		float: none;
		margin-right: 0;
		width: 100%;
	}

	/* [downloads] */
	.edd_downloads_list.edd_download_columns_3 .edd_download,
	.edd_downloads_list.edd_download_columns_4 .edd_download,
	.edd_downloads_list.edd_download_columns_5 .edd_download,
	.edd_downloads_list.edd_download_columns_6 .edd_download {
		width: 48% !important;
	}
}

@media screen and (max-width: 480px) {

	/* [downloads] */
	.edd_downloads_list.edd_download_columns_2 .edd_download,
	.edd_downloads_list.edd_download_columns_3 .edd_download,
	.edd_downloads_list.edd_download_columns_4 .edd_download,
	.edd_downloads_list.edd_download_columns_5 .edd_download,
	.edd_downloads_list.edd_download_columns_6 .edd_download {
		width: 100% !important;
	}
	.product-box {
		width: 100%;
	}
	img[class*="wp-image-"] {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}