/* Save changes and changes saved alert boxes */
.wrap.volatyl-options .half.updated,
.wrap.volatyl-options .half.save-settings {
	float: left;
	width: 35%;
	min-width: 240px;
	margin-right: 10px;
}

.save-settings {
	background: #eef4ff;
	border: 1px solid rgba(0,0,0,.1);
	padding: 0 .6em;
	margin: 5px 0 15px;
}

.save-settings p {
	margin: .5em 0;
	padding: 2px;
}

.volatyl-options .radius { 
	-webkit-border-radius: 3px; 
	-moz-border-radius:    3px; 
	border-radius:         3px; 
}

/* Keep tabbed options below alert messages */
.nav-tab-wrapper {
	clear: both;
}

h2 .nav-tab {
	text-transform: capitalize;
}

/* Form content formattings */
.volatyl-options form h3 {
	background: #F1F1F1;
	font-size: 18px;
	text-shadow: white 0 1px 0;
	font-weight: normal;
	padding: 10px;
	margin-top: 30px;
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 3px; 
	-moz-border-radius:    3px; 
	border-radius:         3px; 
}

.volatyl-options hr {
	clear: both;
	background: #f1f1f1; 
	border: 0; 
	height: 3px; 
	margin: 2em 0;
}

.volatyl-options ul.list {
	margin-top: 0;
}

/* For multiple radio buttons and labels on one line, create spacing */
.volatyl-options .label-space,
.volatyl-options .logo-button {
	margin-right: 20px;
}

.volatyl-options .hook-label-space {
	margin-right: 12px;
}

.volatyl-options .checkbox-space {
	margin-right: 3px;
}

/* Columns layout images and radio buttons */
.volatyl-options .layout-label {
	position: relative;
	margin: 0 10px 13px 0;
	display: inline-block;
	width: 90px;
	height: 60px;
}

.volatyl-options .layout-label input + img {
	background: #ccc;
	padding: 2px;
}

.volatyl-options .layout-label input + img:hover {
	background: #aaa;
}

.volatyl-options .layout-radio {
	position: absolute;
	left: -2px;
	top: -4px;
}

/* Additional options information */
.volatyl-options .notes {
	color: #999;
	font-style: italic;
}

.volatyl-options .instructions {
	background: #fafafa;
	border: 1px solid rgba(0,0,0,.1);
	padding: 15px;
	max-width: 650px;
}

.volatyl-options .instructions p {
	margin: 0 0 1.5em;
}

.volatyl-options .instructions p:last-of-type {
	margin-bottom: 0;
}

/* Hooks form formatting */
.volatyl-options .hook-field {
	margin-top: 5px;
}

.volatyl-options .hook-title {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 10px;
}

.volatyl-options .hook-info {
	display: block;
}

.volatyl-options .submit-hooks {
	margin-bottom: 30px;
}